<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% if section.settings.featured_collection != blank %}
    {% for product in section.settings.featured_collection.products %}
      {% render 'product-card'
        , product: product %}
    {% endfor %}
  {% else %}
    {% for i in (1..3) %}
      {% render 'placeholder-product-card'
        , index: forloop.index %}
    {% endfor %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Featured Collection",
    "tag": "section",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}