<div class="grid grid-cols-3 gap-4 my-10">
  {% paginate collection.products by 10 %}
    {% for product in collection.products %}
      {% render 'product-card'
        , product: product %}
    {% endfor %}
  {% endpaginate %}
</div>