<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for collection in collections %}
    {% render 'collection-card'
      , collection: collection
      , index: forloop.index %}
  {% endfor %}
</div>