<!-- Page Container -->
<div class="flex items-center justify-center min-h-screen bg-white py-48">
  <div class="flex flex-col">

    <div class="flex flex-col items-center">
      <div class="text-green-900 font-bold text-7xl">
        404
      </div>

      <div class="font-bold text-3xl xl:text-7xl lg:text-6xl md:text-5xl mt-10">
        {{ section.settings.primary_text }}
      </div>

      <div class="text-gray-400 font-medium text-sm md:text-xl lg:text-2xl mt-8">
        {{ section.settings.secondary_text }}
      </div>

      {% if section.settings.primary_button_url %}
        {% assign go_back_btn_url = section.settings.primary_button_url %}
      {% else %}
        {% assign go_back_btn_url = routes.root_url %}
      {% endif %}

      <a href="{{ go_back_btn_url }}" class="px-6 py-2 text-sm font-semibold text-green-800 bg-green-100 mt-8">
        {{ section.settings.primary_button_text }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "404 Page",
    "settings": [
      {
        "type": "text",
        "id": "primary_text",
        "default": "This page does not exist",
        "label": "Primary text"
      }, {
        "type": "text",
        "id": "secondary_text",
        "default": "The page you are looking for could not be found.",
        "label": "Secondary  text"
      }, {
        "type": "text",
        "id": "primary_button_text",
        "default": "Go back",
        "label": "Primary button text"
      }, {
        "type": "url",
        "id": "primary_button_url",
        "label": "Primary button URL"
      }
    ]
  }
{% endschema %}